
.wheel{
  width: 250px;
  height: 210px;
  margin: auto;
  background-color: darkgray;
  position: relative;
}

.screen{
  width: 250px;
  height: 210px;
  margin: auto;
  background-color: darkgray;
  position: relative;
  padding-top: 5px;
}

/* --------------------------------------------------------------------------------------------------------------------------- */

.wheel-button{
  width: 200px;
  height: 200px;
  top: 5px;
  left: 26px;
  border-radius: 50%;
  background-color: lightgray;
  position: absolute;
}

.center-button{
  width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    background-color: darkgray;
    top: 56px;
    left: 56px;
}

.menu-image{

  width: 35px;
  position: absolute;
  left: 82px;
  top: 22px;
}

.fastforward-image{
    width: 25px;
    position: absolute;
    top: 88px;
    right: 16px;
}

.fastbackward-image{
    width: 25px;
    position: absolute;
    top: 88px;
    left: 12px;
}

.playpause-image{
  width: 25px;
  position: absolute;
  bottom: 24px;
  left: 88px;
}

/* --------------------------------------------------screen parts-------------------------------------------------------------------- */

.display-screen{
  width: 95%;
  height: 98%;
  background-color: white;
  margin: auto;
}

.list-container{
  width: 50%;
  height: 100%;
  background-color: #c0c0c099;
}

.title{
  height: 35px;
}

.music,.coverflow,.games,.setting{
  height: 35px;
}